.image {
    background-color: rgb(78, 78, 78);
    margin-left: 25px;
    border-radius: 20px;
}

.labelName{
    font-size: 16px;
} 

.gridContentWrapper {
    background-color: rgb(28,28,28); 
    padding: 15px ;
}

.boxTopContent {
    background-color: rgb(197, 197, 197);
    border-radius: 15px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 25px;
}

.boxBottomContent{
    margin-top : 10px ;
    background-color: rgb(197, 197, 197);
    border-radius: 15px;
    padding: 10px;
    margin-left: 15px;
    margin-right: 25px;
}

.calculatedBox{
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border:3px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.blue-border{
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border:3px solid rgb(50, 129, 231);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.orange-border {
    min-height: 0px;
    background-color: rgb(255, 255, 255);
    border:3px solid rgb(206, 133, 50);
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.unitLabel {
    margin-top: 5px;
    margin-right:65px;
    font-size: 12px;
    
}

.unitAreaLabel {
    margin-top: 5px;
    margin-left: 160px;
    font-size: 12px;
}

.radio {
    font-size: 12px;
    border:3px solid transparent;
    border-radius: 5px;
    margin-top: 2px;
}

.radioSelected{
    font-size: 12px;
    border:3px solid rgb(50, 129, 231);
    border-radius: 5px;
    margin-top: 2px;
}

.goBackButton{
    margin-top: 5px;
    margin-left: 45px;
    border:3px solid transparent;
    border-radius: 15px;
    background: rgba(211, 129, 129,1);
    color: whitesmoke;
}

.goBackButtonSelect{
    margin-top: 5px;
    margin-left: 45px;
    border:3px solid rgb(192, 192, 192);
    border-radius: 15px;
    background: rgba(155, 97, 97,1);
    color: whitesmoke;
}

.goNextButtonDisable{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 20px ; 
    border:3px solid transparent;
    border-radius: 15px;
    background: rgb(136, 136, 136);
    color: whitesmoke;
}

.goNextButton{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 20px ; 
    border:3px solid transparent;
    border-radius: 15px;
    background: rgb(85, 156, 83);
    color: whitesmoke;
}

.goNextButtonSelect{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 20px ; 
    border:3px solid rgb(192, 192, 192);
    border-radius: 15px;
    background: rgb(59, 109, 56);
    color: whitesmoke;
}

.dropdownList {
    margin-top: 80px;
    margin-right: 20px;
    border:3px solid rgb(192, 192, 192);
    border-radius: 10px;
}




