.label {
    color: rgb(189, 88, 88);
    font-size: 25px;
    padding-bottom: 5px;
}

.grid {
    background-color: rgb(28,28,28);
    padding-left: 45px;
    padding-right: 45px;
} 

.gridPage {
    
}

.video {
    padding:25px ;
    border-radius: 20px;
    /* background-color: rgb(129, 13, 13); */
    margin-left: 25px;
}

.BoxCantainer {
    margin-left: 70px;
    margin-right: 20px;
}

.labelCantainer {
    margin-top: 15px;
    margin-bottom: 5px;
}
